<div>
    <body class="card-container justificado texto-sobre">
      Meu nome é Tiago Henrique, nasci no ano de 2002 em Itajubá
      Minas Gerais, estudante e apaixonado pela área de TI e atuante como desenvolvedor FullStack.
      Sou uma pessoa comunicativa, animada e pronta para enfrentar novos desafios, dedicado a aprender 
      cada vez mais, proativo, gosto de trabalhar em equipe, auxiliar os colegas. Meu tempo livre me dedico 
      a estudar, praticar esportes, passear e estar em contato com a natureza.
    </body>
  </div>
