.texto-sobre {
    font-size: 25px; 
    position: absolute; 
    padding: 3%; 
    flex: auto; 
    width: 32%; 
    margin-left: 0%; 
    margin-top: 3%;
    text-align: justify; 
}

/*.img-tam {
    width: 10% !important;
    margin-left: 50% !important;
    margin-top: 10% !important;
}*/

