.texto-sobre {
    font-size: 25px;
    position: absolute;
    padding: 3%;
    flex: auto;
    width: 32%;
    margin-left: 0%;
    margin-top: 3%;
    text-align: justify;
}

.text-color {
  color: white;
}

button {
  border-radius: 0.4rem;
  margin-top: 2rem;
  margin-right: 5rem;
  width: 17rem;
  height: 3rem;
}

button:hover {
    color: #ffffff;
    background-color: #272727;
    transform: rotate(2deg);
}

.conversar {
    top: 109%;
    position: absolute;
    font-size: 29px;
    left: 25%;
}

a:link {
    text-decoration:none;
}
