.texto-sobre {
    font-size: 25px; 
    position: absolute; 
    padding: 3%; 
    flex: auto; 
    width: 32%; 
    margin-left: 0%; 
    margin-top: 3%;
    text-align: justify; 
}

/*.img-tam {
    width: 10% !important;
    margin-left: 50% !important;
    margin-top: 10% !important;
}*/

.botao-ide {
    position: absolute;
    background-color: #f2f2f5;
    border-radius: 4px;
    width: 54%;
    left: 150%;
    top: 5%;
    border: 2px;
    height: 10%;
}

.botao-linguagens {
    position: absolute;
    background-color: #f2f2f5;
    border-radius: 4px;
    width: 54%;
    left: 150%;
    top: 25%;
    border: 2px;
    height: 10%;
}

.botao-aws {
    position: absolute;
    background-color: #f2f2f5;
    border-radius: 4px;
    width: 54%;
    left: 150%;
    top: 45%;
    border: 2px;
    height: 10%;
}

.texto-interno-button {
    font-size: 14px;
    font-weight: 600;
}

button:hover {
    color: #ffffff;
    background-color: #0e8d52;
}